*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem =10px
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.container{
    height: 100vh;
    width: 100%;
    background-color: #d8dbe2;

    overflow: hidden;
}

ul{
    list-style: none;
}