.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 99;
}

.first {
  background-color: #efde74;
}

.second {
  background-color: #efde74;
  left: 33.3%;
}

.third {
  background-color: #efde74;
  left: 66.6%;
}
