.sponsor{
    position: absolute;
    right: 100px;
    bottom: 100px;
    text-align: center;

    img{
        width: 200px;
    }

    p{
        margin-top: 20px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 900;
        transform: rotate(180deg);
    }
}